#about
    padding: 80px 0
    .box
        h1
            font-size: 40px
            font-weight: 700
        h3
            font-size: 20px
            color: #6c757d
            margin: 20px 0 40px
    
