header
    padding: 20px 0
    .menu
        position: fixed
        margin-right: 100px
        margin-top: 50px
        nav
            display: flex
            justify-content: flex-end
            margin-right: 50px
            a
                margin-right: 50px
                font-size: 20px
                color: #ffff
                cursor: pointer
                transition: 1s
                &:hover
                    color: #ffc800
        .btn
            display: flex
            flex-direction: row
            border: 5px solid  #ffff            
            border-radius: 5px
            padding: 5px 10px
            font-size: 15px
            color:  #ffff
        .imgbox
            img
                cursor: pointer
                // width: 200px

    @media screen and ( min-width: 300px )
        .imgbox
            img
                width: 80px
        nav
            display: none
        .btn
            display: block

    @media screen and (min-width: 600px)
        .imgbox
            img
                width: 100px
        nav
            display: none
        .btn
            display: block
            
    @media screen and ( min-width: 900px )
        .imgbox
            img
                width: 200px
        nav
            display: flex
            justify-content: flex-end
            margin-right: 50px
            a
                font-size: 20px
        .btn
            display: none
